<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="label"><label for="_auth_code">Auth Code google</label></p>
<img id="imageQRcode" src="{{ qrCode }}" alt="QR Code" name="imageQRCode" />
    <form class="form" action="/2fa_check" method="post">
        <p class="widget"><input id="_auth_code" type="text" autocomplete="off" name="auth_code"></p>
        <p class="submit"><input type="submit" value="login"/></p>
    </form>

<p class="cancel"><a href="/logout">cancel</a></p>

</body>
</html>